$font-stack: "Poppins", sans-serif;
$primary-color: white;
$secondary-color: black;
$input-focus-color: #ffdb58;
$button-color: rgb(39, 82, 39);
$button-hover-color: rgba(40, 131, 40, 0.952);

.Restaurant {
  padding: 10px;
  font-family: $font-stack;

  a {
    text-decoration: none;
    color: black;
  }

  .restaurantContainer {
    display: flex;
    width: 60%;
    margin: 20px auto;
    border: 1px solid lightgrey;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;

    img {
      width: 250px;
      height: 150px;

      border-radius: 10px;
    }

    .restaurantDetails {
      display: flex;
      flex-direction: column;
      padding-left: 30px;

      h2 {
        margin: 0;
        padding-left: 3px;
        padding-bottom: 10px;
      }
      p {
        margin: 0;
        padding-left: 3px;
        padding-bottom: 5px;
      }
      fieldset {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }
}
