$font-stack: "Raleway", sans-serif;
$font-stack-2: "Poppins", sans-serif;
$primary-color: white;
$secondary-color: black;
$input-focus-color: #ffdb58;
$button-color: rgb(39, 82, 39);
$button-hover-color: rgba(40, 131, 40, 0.952);

.Home {
  display: flex;
  height: calc(100vh - 80px);
  .container {
    flex: 1;
    background: url("../../assets/home.jpg") no-repeat center center fixed;
    background-size: cover;

    .headingText {
      font-family: $font-stack;
      color: black;

      h2 {
        font-size: 3em;
        margin: 75px 0 0 3%;
      }
      p {
        font-size: 2em;
        margin: 10px 0 25px 3%;
      }
    }

    .searchRestaurantBox {
      border-radius: 10px;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      margin: 0 3%;
      padding: 20px;

      .searchRestaurantUsingLocation {
        display: flex;

        #city {
          flex: 2;
        }

        #location {
          flex: 3;
          margin: 0 15px;
        }

        select {
          font-family: $font-stack;
          font-size: 1em;
          padding: 15px;
          border: 2px solid transparent;
          border-radius: 10px;
          color: gray;
        }

        button {
          background-color: $button-color;
          border: 1px solid $button-color;
          border-radius: 50px;
          cursor: pointer;
          font-size: 1em;
          padding: 0 25px;
          flex: 1;

          a {
            color: white;
            font-family: $font-stack-2;
            text-decoration: none;
          }
        }

        button:hover {
          background-color: $button-hover-color;
          border: 1px solid $button-hover-color;
        }
      }
    }

    @media screen and (max-width: 900px) {
      .searchRestaurantBox {
        width: 60%;
      }
    }
    @media screen and (max-width: 668px) {
      .headingText {
        text-align: center;
        h2 {
          font-size: 2.7em;
          margin: 50px 0 0;
        }
        p {
          font-size: 1.7em;
          margin: 10px 0 20px;
        }
      }
      .searchRestaurantBox {
        width: 70%;
        margin: 0 auto;
        .searchRestaurantUsingLocation {
          display: flex;
          flex-direction: column;
          #location {
            margin: 15px 0;
          }
          button {
            padding: 15px 40px;
            margin: 0 auto;
          }
          option {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}
